include layout_mixins

mixin home-slider()
	.home-slider
		each item in slider1
			+slider-item(item)
mixin lk()
	.lk
		.profile_row
			.profile_face
				.profile_face__avatar
					img(src=`images/woman.png`)
				.profile_face__name= "Иванов М.С."
				.profile_face__status= "Эксперт"
			.profile_data
				.profile_data__title= "Личные данные:"
				.profile_data__text= "Ясность нашей позиции очевидна: убеждённость некоторых оппонентов обеспечивает широкому кругу (специалистов) участие в формировании как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как многие известные личности, вне зависимости от их уровня, должны быть разоблачены. "
		.buttons__wrapper
			.btn.btn--orange= "Новые заявки"
			.btn.btn--orange= "Обработанные заявки"
			.btn.btn--orange.btn--notify= "Отложенные заявки"
			.btn.btn--orange= "Спам (черный список)"
			.btn.btn--orange= "Таблица экспертов"

mixin slider-item(item)
	.slider-item
		.people
			.people__avatar
				img(src=`images/${item.img}`)
			.people__name= item.name
			.people__status= item.status
			.like_btn
			.add_btn
		.text= item.text

mixin slider-item2(item)
	.slider-item
		.people
			.people__avatar
				img(src=`images/${item.img}`)
			.people__name= item.name
			.people__status= item.status
			.like_btn
			.add_btn

mixin experts()
	.experts
		.container
			h2.section-title Наши эксперты
			.experts-slider
				each item in slider2
					+slider-item2(item)
			h2.section-title Партнеры
	.bg-grey
		.container
			+partners('partners')

mixin partners(className)
	div(class= className)
		.partner-item: img(src='images/partner.png')
		.partner-item: img(src='images/partner2.png')
		.partner-item: img(src='images/partner3.png')
		.partner-item: img(src='images/partner.png')
		.partner-item: img(src='images/partner2.png')

mixin profile()
	.form-radio
		+radio('student', 'whoIam', 'Я ученик', true)
		+radio('parent', 'whoIam', 'Я родитель')
	.form-row
		+field({placeholder: 'Фамилия', required: true, type: 'text'})
		+field({placeholder: 'Имя', required: true, type: 'text'})
	+field({placeholder: 'Отчество', required: true, type: 'text'})
	.form-row
		+field({placeholder: 'Школа', required: true, type: 'text'})
		+field({placeholder: 'Класс', required: true, type: 'text'})
	+field({placeholder: 'Тематика', required: true, type: 'text'})

mixin applications()
	table.application__list
		thead
			th Заявки
			th Дата заявки
		tbody
			each item, index in applications
				tr.application__item(id= 'application-' + (index + 1), tabindex="0", ref="select")
					td= item.text
					td= item.date

mixin expertsToApplication()
	.expert__list
		h3.expert__list-title Эксперты
		.row
			each item in experts
				+expertBlock(item)

mixin expertBlock(expert)
	.expert
		.expert__block
			.avatar: img(src=`images/${expert.image}`)
			.waiting-time= expert.time
			.expert__name= expert.name
			.expert__status= expert.status
			.expert__description= expert.description
			.expert__footer
				.expert-to-appoint Назначить
				.expert__count-app= `${expert.counts} заявок`

mixin winner(item)
	.card(data-winner= item.id)
		.card__block.card__block--winner
			.avatar: img(src=`images/${item.image}`)
			.card__name= item.name
			.card__status= item.status
			.card__title Несколько строк о эксперте
			.card__about= item.about

mixin expert(item)
	.card(data-winner= item.id)
		.card__block
			.avatar: img(src=`images/${item.image}`)
			.like_btn
			.card__name= item.name
			.card__status= item.status
			.card__title Несколько строк о эксперте
			.card__title Несколько строк о эксперте
			.card__title Несколько строк о эксперте

mixin article(item)
	.post
		.post__block
			.row
				.avatar: img(src=`images/${item.image}`)
				.post__name= item.name
				.post__date= item.date
			.post__title= item.title
			.post__text= item.text
			a.post__more(href="#")= "Читать далее"
			.post__image: img(src=`images/${item.image}`)


mixin modalWinner(item)
	.modal.modal--card(id= item.id)
		.close-btn
		.like_btn
		+winnerSlider()
		.card__name.card__name--winner= item.name
		.card__status #{item.status} <span> #{item.scool}</span>
		.card__text= item.about

mixin modalExpert(item)
	.modal.modal--card(id= item.id)
		.close-btn
		.like_btn
		.avatar: img(src=`images/${item.image}`)
		.card__name= item.name
		.card__status.card__status--expert #{item.status}
		.card__text= item.description

mixin modalPost(item)
	.modal.modal--card.modal--post(id= item.id)
		.close-btn
		.post
			.post__block
				.row
					.avatar: img(src=`images/${item.image}`)
					.post__name= item.name
					.post__date= item.date
				.post__title= item.title
				.post__text= item.text
				a.post__more(href="#")= "Читать далее"
				.post__image: img(src=`images/${item.image}`)

mixin winnerSlider()
	.card-slider
		.item
			img(src= 'images/school-1.jpg')
			p фото 1
		.item
			img(src= 'images/school-2.jpg')
			p фото 2
		.item
			img(src= 'images/school-3.jpg')
			p фото 3
