include layout_mixins

mixin home-slider()
	.home-slider
		each item in slider1
			+slider-item(item)

mixin slider-item(item)
	.slider-item
		.people
			.people__avatar
				img(src=`images/${item.img}`)
			.people__name= item.name
			.people__status= item.status
			.like_btn
			.add_btn
		.text= item.text

mixin slider-item2(item)
	.slider-item
		.people
			.people__avatar
				img(src=`images/${item.img}`)
			.people__name= item.name
			.people__status= item.status
			.like_btn
			.add_btn

mixin experts()
	.experts
		.container
			h2.section-title Наши эксперты
			.experts-slider
				each item in slider2
					+slider-item2(item)
			h2.section-title Партнеры
	.bg-grey
		.container
			+partners('partners')

mixin partners(className)
	div(class= className)
		.partner-item: img(src='images/partner.png')
		.partner-item: img(src='images/partner2.png')
		.partner-item: img(src='images/partner3.png')
		.partner-item: img(src='images/partner.png')
		.partner-item: img(src='images/partner2.png')

