include layout_mixins

mixin home-slider()
	.home-slider
		each item in slider1
			+slider-item(item)

mixin slider-item(item)
	.slider-item
		.people
			.people__avatar
				img(src=`images/${item.img}`)
			.people__name= item.name
			.people__status= item.status
			.like_btn
			.add_btn
		.text= item.text

mixin slider-item2(item)
	.slider-item
		.people
			.people__avatar
				img(src=`images/${item.img}`)
			.people__name= item.name
			.people__status= item.status
			.like_btn
			.add_btn

mixin experts()
	.experts
		.container
			h2.section-title Наши эксперты
			.experts-slider
				each item in slider2
					+slider-item2(item)
			h2.section-title Партнеры
	.bg-grey
		.container
			+partners('partners')

mixin partners(className)
	div(class= className)
		.partner-item: img(src='images/partner.png')
		.partner-item: img(src='images/partner2.png')
		.partner-item: img(src='images/partner3.png')
		.partner-item: img(src='images/partner.png')
		.partner-item: img(src='images/partner2.png')

mixin profile()
	.form-radio
		+radio('student', 'whoIam', 'Я ученик', true)
		+radio('parent', 'whoIam', 'Я родитель')
	.form-row
		+field({placeholder: 'Фамилия', required: true, type: 'text'})
		+field({placeholder: 'Имя', required: true, type: 'text'})
	+field({placeholder: 'Отчество', required: true, type: 'text'})
	.form-row
		+field({placeholder: 'Школа', required: true, type: 'text'})
		+field({placeholder: 'Класс', required: true, type: 'text'})
	+field({placeholder: 'Тематика', required: true, type: 'text'})

mixin applications()
	table.application__list
		thead
			th Заявки
			th Дата заявки
		tbody
			each item, index in applications
				tr.application__item(id= 'application-' + (index + 1), tabindex="0", ref="select")
					td= item.text
					td= item.date

mixin expertsToApplication()
	.expert__list
		h3.expert__list-title Эксперты
		.row
			each item in experts
				+expertBlock(item)

mixin expertBlock(expert)
	.expert
		.expert__block
			.avatar: img(src=`images/${expert.img}`)
			.waiting-time= expert.time
			.expert__name= expert.name
			.expert__status= expert.status
			.expert__description= expert.description
			.expert__footer
				.expert-to-appoint Назначить
				.expert__count-app= `${expert.counts} заявок`
